<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>New Message</h1>
  <form action="/new" method="post">
    <div>
      <label for="user">Name:</label>
      <input type="text" id="user" name="user">
    </div>
    <div>
      <label for="text">Message:</label>
      <textarea name="text" id="text"></textarea>
    </div>
    <button type="submit">Create</button>
  </form>
  <button>
    <a href="/">Home</a>
  </button>
</body>
</html>