/* Constants and reset */
:root {
  --base-font: Arial, Helvetica, sans-serif;
  --color-primary: #0071BC;
  --color-primary-darker: #004f84;
  --color-gray-lightest: #f2f2f2;
  --color-primary-lightest: #e6f1f8;
  --color-secondary-lightest: #e7f3e7;
  --color-secondary-lighter: #b8dcb7;
  --color-gray-lighter: #d9d9d9;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mutual styles */
body {
  font-family: var(--base-font);
}

h1 {
  text-align: center;
  padding: 20px;
}

h2 {
  background-color: var(--color-primary-darker);
  color: white;
  padding: 10px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.main-content {
  padding: 10px;
}

.navlink-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  background-color: var(--color-primary);
}

.navlink-container a {
  text-decoration: none;
  display: flex;
  background-color: var(--color-gray-lightest);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

/* Index styles */
.main-index {
  padding: 0;
}

.index-message > div > * {
  padding: 10px;
}

.index-top-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary-lightest);
  align-items: center;
}

.created-date-index {
  font-size: 10px;
}

.index-bottom-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.index-text-message {
  flex: 1;
}

.show-index a {
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: var(--color-gray-lightest);
}

/* Message detail styling */
.main-message {
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.main-message > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-message div:nth-child(2) {
  border-bottom: 1px solid var(--color-gray-lighter);
  border-top: 1px solid var(--color-gray-lighter);
}

.message-type {
  width: 100px;
  background-color: var(--color-primary-lightest);
  padding: 10px;
  margin-left: -10px;
}

/* Form styling */
.main-form {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-form div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

label {
  background-color: var(--color-primary-lightest);
  padding: 5px;
  margin: 0 -10px;
  padding: 10px;
}

input, textarea {
  border: 1px solid var(--color-gray-lighter);
  height: 40px;
  padding: 5px;
}

.submit-container {
  padding: 10px 0px;
  align-items: center;
}

.submit-container button {
  background-color: var(--color-secondary-lightest);
  border: 1px solid var(--color-gray-lighter);
  border-radius: 10px;
  width: 100px;
  font-size: larger;
  padding: 5px;
}

.submit-container button:hover {
  cursor: pointer;
  background-color: var(--color-secondary-lighter);
}